exterieur/piscine.node-red
[{"id":"45864601.ba79b8","type":"MySQLdatabase","z":"","host":"192.168.10.10","port":"3306","db":"tempeDB","tz":""},{"id":"da884b6.971c0b8","type":"subflow","name":"Send_tempeDB","info":"Envoie a la BDD tempeDB\navec\n- msg.topic : capteur\n- msg.payload : valeur","in":[{"x":36.5,"y":171,"wires":[{"id":"7d5f8ebe.82a07"}]}],"out":[{"x":819,"y":252,"wires":[{"id":"b9d9b9b3.462648","port":0}]}]},{"id":"b9d9b9b3.462648","type":"mysql","z":"da884b6.971c0b8","mydb":"45864601.ba79b8","name":"","x":687,"y":174,"wires":[["ca5c4855.35a3b8"]]},{"id":"caede0bf.35122","type":"function","z":"da884b6.971c0b8","name":"SQL","func":"sql = \"INSERT INTO mesures (capteur, date, temperature) \"\nsql += \"VALUES (\"\nsql += \"'\" + msg.topic + \"', \"\nsql += \"'\" + msg.date + \"',\"\nsql += msg.payload + \")\"\nreturn {topic:sql};\n","outputs":1,"noerr":0,"x":542,"y":174,"wires":[["b9d9b9b3.462648"]]},{"id":"5d150073.a2eb","type":"moment","z":"da884b6.971c0b8","name":"","topic":"","input":"date","format":"YYYY-MM-DD HH:mm:ss","output":"date","x":366,"y":174,"wires":[["caede0bf.35122"]]},{"id":"4066d76f.bf9928","type":"debug","z":"da884b6.971c0b8","name":"Erreur","active":true,"console":"false","complete":"true","x":999,"y":210,"wires":[]},{"id":"7d5f8ebe.82a07","type":"function","z":"da884b6.971c0b8","name":"Ajout date","func":"msg.date = new Date()\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":174,"wires":[["5d150073.a2eb"]]},{"id":"ca5c4855.35a3b8","type":"switch","z":"da884b6.971c0b8","name":"Ok? / Not Ok","property":"payload.affectedRows","rules":[{"t":"eq","v":"1"},{"t":"neq","v":"1"}],"checkall":"false","outputs":2,"x":847,"y":173,"wires":[[],["4066d76f.bf9928"]]},{"id":"e7bb91df.53507","type":"comment","z":"da884b6.971c0b8","name":"Send_tempeDB","info":"","x":157.5,"y":69,"wires":[]},{"id":"76bd9c44.894264","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ddede78e.fbea38","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"","qos":"1","retain":"true","broker":"76bd9c44.894264","x":1170,"y":1440,"wires":[]},{"id":"d5b9b0c3.88e4d","type":"inject","z":"7773e6d.e575e18","name":"Set pompe ON","topic":"T-HOME/PISCINE/pompe","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":40,"wires":[["bbb9e946.238898"]]},{"id":"336fd4d5.369fcc","type":"inject","z":"7773e6d.e575e18","name":"Set pompe OFF","topic":"T-HOME/PISCINE/pompe","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["bbb9e946.238898"]]},{"id":"bbb9e946.238898","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"","qos":"1","retain":"true","broker":"76bd9c44.894264","x":310,"y":60,"wires":[]},{"id":"17ba9cf0.1c8903","type":"inject","z":"7773e6d.e575e18","name":"","topic":"","payload":"SENDIT","payloadType":"str","repeat":"600","crontab":"","once":false,"x":100,"y":240,"wires":[["25e3cf66.f594b","d3af51be.cc2cf"]]},{"id":"25e3cf66.f594b","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/EXTERIEUR/humidite_terre_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":530,"y":240,"wires":[]},{"id":"d3af51be.cc2cf","type":"delay","z":"7773e6d.e575e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":300,"wires":[["b58bfd22.8923f","32a301b8.4fed2e"]]},{"id":"b58bfd22.8923f","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/EXTERIEUR/luminosite_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":520,"y":300,"wires":[]},{"id":"35221b3.e4b13e4","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/EXTERIEUR/pluie_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":500,"y":360,"wires":[]},{"id":"db8e059d.a6ab88","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/EXTERIEUR/temperature_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":530,"y":420,"wires":[]},{"id":"81038eae.f48b3","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/EXTERIEUR/humidite_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":520,"y":480,"wires":[]},{"id":"cf9ab320.1335b","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/PISCINE/temperature_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":520,"y":540,"wires":[]},{"id":"32a301b8.4fed2e","type":"delay","z":"7773e6d.e575e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":360,"wires":[["35221b3.e4b13e4","b7e8cff6.c27ae"]]},{"id":"b7e8cff6.c27ae","type":"delay","z":"7773e6d.e575e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":420,"wires":[["db8e059d.a6ab88","22911e0d.fb8b02"]]},{"id":"22911e0d.fb8b02","type":"delay","z":"7773e6d.e575e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":480,"wires":[["81038eae.f48b3","6a13c92c.6507e8"]]},{"id":"6a13c92c.6507e8","type":"delay","z":"7773e6d.e575e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":540,"wires":[["cf9ab320.1335b","f423ee09.01c6b"]]},{"id":"d8cd3f85.2328d","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/EXTERIEUR/_LUA","qos":"0","retain":"false","broker":"76bd9c44.894264","x":820,"y":620,"wires":[]},{"id":"2be30492.fc744c","type":"comment","z":"7773e6d.e575e18","name":"Demandes d'envoie des mesures :","info":"Les données ne sont pas envoyées automatiquement par le µcontroleur\n(problème de mémoire...)\n\n=> aussi simple comme ça.","x":140,"y":180,"wires":[]},{"id":"1cbc3c19.60dae4","type":"inject","z":"7773e6d.e575e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":720,"wires":[["68cdbd4.91f1044"]]},{"id":"68cdbd4.91f1044","type":"change","z":"7773e6d.e575e18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"package.loaded[\"ds18b20\"]=nil","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":720,"wires":[["d8cd3f85.2328d"]]},{"id":"92f87a3f.8f8d18","type":"delay","z":"7773e6d.e575e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":680,"wires":[["7fefc33.844a33c"]]},{"id":"3ca385a7.9f738a","type":"mqtt out","z":"7773e6d.e575e18","name":"","topic":"T-HOME/PISCINE/temperature_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":1120,"y":680,"wires":[]},{"id":"7fefc33.844a33c","type":"change","z":"7773e6d.e575e18","name":"SENDIT","rules":[{"t":"set","p":"payload","pt":"msg","to":"SENDIT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":680,"wires":[["3ca385a7.9f738a"]]},{"id":"f423ee09.01c6b","type":"trigger","z":"7773e6d.e575e18","op1":"1","op2":"package.loaded[\"ds18b20\"]=nil","op1type":"nul","op2type":"val","duration":"10","extend":false,"units":"s","reset":"reset","name":"","x":530,"y":620,"wires":[["d8cd3f85.2328d","92f87a3f.8f8d18"]]},{"id":"14ea4d3.e7208b3","type":"mqtt in","z":"7773e6d.e575e18","name":"","topic":"T-HOME/PISCINE/temperature","broker":"76bd9c44.894264","x":150,"y":640,"wires":[["b72eb90c.6debb8"]]},{"id":"b72eb90c.6debb8","type":"change","z":"7773e6d.e575e18","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":640,"wires":[["f423ee09.01c6b"]]},{"id":"306eac21.176274","type":"comment","z":"7773e6d.e575e18","name":"Pour palier les plantages de la lecture du ds1820","info":"Avec les temperature_ : ça fonctionne\n\nMais avec l'envoi toutes les 10 minutes : ça plante\n\n=> bricolage++\n\nA corriger dasn le code LUA","x":180,"y":600,"wires":[]},{"id":"c81d1ef1.53a7e","type":"mqtt in","z":"7773e6d.e575e18","name":"","topic":"T-HOME/PISCINE/temperature","broker":"76bd9c44.894264","x":150,"y":880,"wires":[["6325dc98.fbe204"]]},{"id":"6325dc98.fbe204","type":"smooth","z":"7773e6d.e575e18","name":"","action":"mean","count":"6","round":"1","x":380,"y":880,"wires":[["b6d300e2.6bad4"]]},{"id":"dc2b3033.93deb","type":"inject","z":"7773e6d.e575e18","name":"@minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":100,"y":1080,"wires":[["f1116c84.742b4"]]},{"id":"6169ee4f.6b0b8","type":"mqtt in","z":"7773e6d.e575e18","name":"","topic":"T-HOME/PISCINE/pompe","broker":"76bd9c44.894264","x":130,"y":940,"wires":[["d2c5800c.2649"]]},{"id":"d2c5800c.2649","type":"function","z":"7773e6d.e575e18","name":"Set PISCINE_POMPE","func":"context.global.PISCINE_POMPE = (msg.payload == \"ON\");\nmsg.payload = \"rien\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":940,"wires":[[]]},{"id":"f1116c84.742b4","type":"function","z":"7773e6d.e575e18","name":"PISCINE_DUREE_POMPAGE","func":"\ncontext.global.PISCINE_DUREE_POMPAGE = (context.global.PISCINE_DUREE_POMPAGE || 0) + context.global.PISCINE_POMPE/60;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1080,"wires":[[]]},{"id":"5ac0a68e.c3f488","type":"inject","z":"7773e6d.e575e18","name":"RAZ at 00:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"x":110,"y":1020,"wires":[["97cb3828.e2ea68"]]},{"id":"38074e31.7b0a02","type":"change","z":"7773e6d.e575e18","name":"PISCINE_DUREE_POMPAGE","rules":[{"t":"set","p":"PISCINE_DUREE_POMPAGE","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1020,"wires":[[]]},{"id":"cff4d86a.0da178","type":"inject","z":"7773e6d.e575e18","name":"debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":1140,"wires":[["a7f4e942.afca98"]]},{"id":"ae17a334.22346","type":"debug","z":"7773e6d.e575e18","name":"","active":true,"console":"false","complete":"false","x":490,"y":1140,"wires":[]},{"id":"f6253007.c3fb5","type":"comment","z":"7773e6d.e575e18","name":"Gestion du pompage","info":"","x":100,"y":820,"wires":[]},{"id":"a7f4e942.afca98","type":"function","z":"7773e6d.e575e18","name":"context.global","func":"msg.payload = context.global;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1140,"wires":[["ae17a334.22346"]]},{"id":"b6d300e2.6bad4","type":"change","z":"7773e6d.e575e18","name":"","rules":[{"t":"set","p":"PISCINE_TEMP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":880,"wires":[[]]},{"id":"a6725f27.398f4","type":"inject","z":"7773e6d.e575e18","name":"Entre 7:00 et 12:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/10 7-11 * * *","once":false,"x":130,"y":1200,"wires":[["b62e583e.d3ec18"]]},{"id":"d3873af0.5573d8","type":"switch","z":"7773e6d.e575e18","name":"PISCINE_TEMP","property":"PISCINE_TEMP","propertyType":"global","rules":[{"t":"gte","v":"35","vt":"num"},{"t":"gte","v":"30","vt":"num"},{"t":"gte","v":"25","vt":"num"},{"t":"gte","v":"20","vt":"num"}],"checkall":"false","outputs":4,"x":520,"y":1260,"wires":[["6404b14f.5d078"],["8adaa494.98f748"],["f4f2d906.e0d138"],["14ef7d42.676f93"]]},{"id":"b62e583e.d3ec18","type":"moment","z":"7773e6d.e575e18","name":"hh:mm","topic":"","input":"payload","format":"HH:mm","output":"payload","x":340,"y":1260,"wires":[["d3873af0.5573d8"]]},{"id":"6404b14f.5d078","type":"switch","z":"7773e6d.e575e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"7:00","vt":"str","v2":"12:30","v2t":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":730,"y":1200,"wires":[["a1bd85ac.c5f728"],["277fa1c3.c7ccae"]]},{"id":"8adaa494.98f748","type":"switch","z":"7773e6d.e575e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"8:00","vt":"str","v2":"12:00","v2t":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":730,"y":1240,"wires":[["a1bd85ac.c5f728"],["277fa1c3.c7ccae"]]},{"id":"f4f2d906.e0d138","type":"switch","z":"7773e6d.e575e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"09:00","vt":"str","v2":"11:00","v2t":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":730,"y":1280,"wires":[["a1bd85ac.c5f728"],["277fa1c3.c7ccae"]]},{"id":"14ef7d42.676f93","type":"switch","z":"7773e6d.e575e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10:00","vt":"str","v2":"11:00","v2t":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":730,"y":1320,"wires":[["a1bd85ac.c5f728"],["277fa1c3.c7ccae"]]},{"id":"a1bd85ac.c5f728","type":"change","z":"7773e6d.e575e18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"T-HOME/PISCINE/pompe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1380,"wires":[["ddede78e.fbea38"]]},{"id":"277fa1c3.c7ccae","type":"change","z":"7773e6d.e575e18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"T-HOME/PISCINE/pompe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1500,"wires":[["ddede78e.fbea38"]]},{"id":"d12c8896.86aa58","type":"inject","z":"7773e6d.e575e18","name":"A 12:30","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 12 * * *","once":false,"x":90,"y":1380,"wires":[["a1bd85ac.c5f728"]]},{"id":"861a975.b873568","type":"inject","z":"7773e6d.e575e18","name":"A 12:15","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 12 * * *","once":false,"x":90,"y":1260,"wires":[["b62e583e.d3ec18"]]},{"id":"db73ce08.b598c","type":"inject","z":"7773e6d.e575e18","name":"A 14:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 14 * * *","once":false,"x":90,"y":1500,"wires":[["f3919d2e.36ec2"]]},{"id":"f3919d2e.36ec2","type":"switch","z":"7773e6d.e575e18","name":"PISCINE_TEMP < 25","property":"PISCINE_TEMP","propertyType":"global","rules":[{"t":"lt","v":"25","vt":"num"}],"checkall":"false","outputs":1,"x":380,"y":1500,"wires":[["277fa1c3.c7ccae"]]},{"id":"9793bffa.02dd9","type":"inject","z":"7773e6d.e575e18","name":"A 15:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 15 * * *","once":false,"x":90,"y":1540,"wires":[["a187981e.20b858"]]},{"id":"52ddba90.54ebf4","type":"inject","z":"7773e6d.e575e18","name":"A 16:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 16 * * *","once":false,"x":90,"y":1580,"wires":[["82dde83.e206118"]]},{"id":"a187981e.20b858","type":"switch","z":"7773e6d.e575e18","name":"PISCINE_TEMP >= 20","property":"PISCINE_TEMP","propertyType":"global","rules":[{"t":"gte","v":"20","vt":"num"}],"checkall":"false","outputs":1,"x":380,"y":1540,"wires":[["a1bd85ac.c5f728"]]},{"id":"82dde83.e206118","type":"switch","z":"7773e6d.e575e18","name":"PISCINE_TEMP >=15","property":"PISCINE_TEMP","propertyType":"global","rules":[{"t":"gte","v":"15","vt":"num"}],"checkall":"false","outputs":1,"x":380,"y":1580,"wires":[["a1bd85ac.c5f728"]]},{"id":"73c2d06f.6acbd","type":"inject","z":"7773e6d.e575e18","name":"Entre 16:00 et 22:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/10 16-21 * * *","once":false,"x":130,"y":1620,"wires":[["1abbfba7.679574"]]},{"id":"2f6b7092.2f669","type":"switch","z":"7773e6d.e575e18","name":"DUREE_POMPAGE > besoin","property":"PISCINE_DUREE_POMPAGE","propertyType":"global","rules":[{"t":"gt","v":"payload","vt":"msg"}],"checkall":"true","outputs":1,"x":660,"y":1620,"wires":[["277fa1c3.c7ccae"]]},{"id":"1abbfba7.679574","type":"function","z":"7773e6d.e575e18","name":"Calcul besoin pompage","func":"msg.payload = Math.max(0,(context.global.PISCINE_TEMP - 10)/2);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1620,"wires":[["2f6b7092.2f669"]]},{"id":"ba7543df.88552","type":"subflow:da884b6.971c0b8","z":"7773e6d.e575e18","name":"","x":500,"y":1020,"wires":[["38074e31.7b0a02"]]},{"id":"97cb3828.e2ea68","type":"change","z":"7773e6d.e575e18","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"duree_pompage","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"PISCINE_DUREE_POMPAGE","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1020,"wires":[["ba7543df.88552"]]},{"id":"a5bc37a0.d0af28","type":"inject","z":"7773e6d.e575e18","name":"A 22:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 22 * * *","once":false,"x":90,"y":1680,"wires":[["277fa1c3.c7ccae"]]}]