nodes/examples/croquettes/tuto/node-red croquettes.json.txt
[{"id":"30b70dbc.093a62","type":"subflow","name":"AntiRebond","info":"Empêche de faire passer la même valeur dans la même seconde","in":[{"x":50,"y":30,"wires":[{"id":"69316651.6a5cb8"}]}],"out":[{"x":990,"y":134,"wires":[{"id":"9b40764b.508eb8","port":1}]}]},{"id":"e3fe735c.ba99f","type":"rbe","z":"30b70dbc.093a62","name":"","func":"rbe","gap":"","start":"","inout":"out","x":732,"y":167,"wires":[["9b40764b.508eb8"]]},{"id":"6bba76ed.af8178","type":"delay","z":"30b70dbc.093a62","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":352,"y":59,"wires":[["e9abd456.729f28"]]},{"id":"e9abd456.729f28","type":"function","z":"30b70dbc.093a62","name":"msg.payload=0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":60,"wires":[["e3fe735c.ba99f"]]},{"id":"69316651.6a5cb8","type":"function","z":"30b70dbc.093a62","name":"msg","func":"return msg;","outputs":1,"noerr":0,"x":219,"y":165,"wires":[["6bba76ed.af8178","e3fe735c.ba99f"]]},{"id":"9b40764b.508eb8","type":"switch","z":"30b70dbc.093a62","name":"==0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":870,"y":168,"wires":[[],[]]},{"id":"76bd9c44.894264","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3e76c6c5.78ecca","type":"mqtt out","z":"1d85944f.ac551c","name":"T-HOME/CROQ/DISPLAY","topic":"T-HOME/CROQ/DISPLAY","qos":"0","retain":"false","broker":"76bd9c44.894264","x":1430,"y":320,"wires":[]},{"id":"1e383606.6f55aa","type":"inject","z":"1d85944f.ac551c","name":"A minuit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"x":100,"y":40,"wires":[["3780014f.74fdfe","a6d2624f.69b35"]]},{"id":"eebd365c.af4b98","type":"function","z":"1d85944f.ac551c","name":"Init qty","func":"context.global.CROQUETTES = 0;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[[]]},{"id":"919f2da2.b641e","type":"function","z":"1d85944f.ac551c","name":"Ligne 2 : Le chat a faim","func":"var now = new Date();\nvar matin = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 7,0,0);\nvar midi = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 12,0,0);\nvar soir = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 18,0,0);\nvar qte_croq = context.global.CROQUETTES || 0;\n\nvar text = \"RrronnRonnn.....\";\nvar led;\nif ((now > matin && qte_croq<20)\n    || (now > midi && qte_croq<30)\n    || (now > soir && qte_croq<60)){\n    text = \"Le chat a faim!!\";\n    led = true;\n}\n\nmsg.payload={\n    led : led,\n    column:0, \n    row:1, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["3e76c6c5.78ecca"]]},{"id":"bc4d8992.3b3738","type":"mqtt in","z":"1d85944f.ac551c","name":"T-HOME/CROQ/INIT","topic":"T-HOME/CROQ/INIT","broker":"76bd9c44.894264","x":120,"y":180,"wires":[["61823c8c.a34154"]]},{"id":"dd5be6aa.3fd2a8","type":"function","z":"1d85944f.ac551c","name":"ligne 1 : Le jj mmmm:999gr","func":"var mois = [\"JANV\",\"FEV.\",\"MARS\",\"AVR.\",\"MAI \", \"JUIN\",\"JUIL\",\"AOUT\",\"SEPT\",\"OCT.\",\"NOV.\",\"DEC.\"];\nvar now = new Date();\nvar qte_croq = context.global.CROQUETTES || 0;\nif (qte_croq > 99) {\n    qte_croq = \"\" + qte_croq;\n}else{\n    qte_croq = \" \" + qte_croq;\n}\ntext1 = \"Le \" + now.getDate() + \" \" + mois[now.getMonth()] + \":\";\ntext1 = text1 + qte_croq + \"gr\";\nmsg.payload={clear:true,\n    column:0, \n    row:0, \n    text:text1};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["3e76c6c5.78ecca","8f22afc0.743e8"]]},{"id":"974b53a3.f99fd","type":"function","z":"1d85944f.ac551c","name":"Valide Repas","func":"var qte_croq = 0;\nswitch (context.global.CROQUETTES_MENU_POS){\n    case 0:\n        qte_croq = -10;\n    break;\n    case 1:\n        qte_croq =  20;\n    break;\n    case 2:\n        qte_croq = 30;\n}\ncontext.global.CROQUETTES = context.global.CROQUETTES + qte_croq;\nif (context.global.CROQUETTES<0){\n    context.global.CROQUETTES = 0;\n    qte_croq = 0;\n}\nmsg.payload = qte_croq;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":760,"wires":[["83cfe5e3.635828","1f8dbb0f.491645"]]},{"id":"d1d5183c.81ee28","type":"e-mail","z":"1d85944f.ac551c","server":"smtp.gmail.com","port":"465","name":"merlin.thome@gmail.com","dname":"","x":950,"y":40,"wires":[]},{"id":"3780014f.74fdfe","type":"delay","z":"1d85944f.ac551c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":100,"wires":[["eebd365c.af4b98"]]},{"id":"82d8dc31.71222","type":"template","z":"1d85944f.ac551c","name":"Message stat.","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Merlin, aujourd'hui ton chat a mangé {{payload}} grammes de croquettes.","x":720,"y":40,"wires":[["d1d5183c.81ee28"]]},{"id":"a6d2624f.69b35","type":"change","z":"1d85944f.ac551c","name":"context.global.CROQUETTES","rules":[{"t":"set","p":"payload","pt":"msg","to":"CROQUETTES","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":40,"wires":[["82d8dc31.71222"]]},{"id":"24a7be82.e31052","type":"subflow:30b70dbc.093a62","z":"1d85944f.ac551c","name":"","x":230,"y":620,"wires":[["2b7d7181.b9aabe"]]},{"id":"38184b57.58f2c4","type":"mqtt in","z":"1d85944f.ac551c","name":"T-HOME/CROQ/GESTE","topic":"T-HOME/CROQ/GESTE","broker":"76bd9c44.894264","x":130,"y":500,"wires":[["4ccd9dc9.8c8094","24a7be82.e31052"]]},{"id":"6c2138c4.38f4c8","type":"switch","z":"1d85944f.ac551c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"64","vt":"num"},{"t":"eq","v":"128","vt":"str"}],"checkall":"true","outputs":4,"x":550,"y":720,"wires":[["339a04a4.a98abc"],["3aa1412.f252abe"],["974b53a3.f99fd"],["8e09bf30.475fc"]]},{"id":"d87d7b21.616df8","type":"function","z":"1d85944f.ac551c","name":"led on_off","func":"msg.payload={led:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["3e76c6c5.78ecca"]]},{"id":"4ccd9dc9.8c8094","type":"trigger","z":"1d85944f.ac551c","op1":"true","op2":"false","op1type":"num","op2type":"num","duration":"30","extend":true,"units":"s","reset":"","name":"","x":390,"y":440,"wires":[["d87d7b21.616df8","f8ed0a2a.e44a28"]]},{"id":"61823c8c.a34154","type":"change","z":"1d85944f.ac551c","name":"MENU OFF","rules":[{"t":"set","p":"CROQUETTES_MENU","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[[]]},{"id":"8f22afc0.743e8","type":"delay","z":"1d85944f.ac551c","name":"100 ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":320,"wires":[["919f2da2.b641e"]]},{"id":"d9288672.d8eb08","type":"inject","z":"1d85944f.ac551c","name":"@5minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":110,"y":260,"wires":[["dbb1ff5b.0f6a3"]]},{"id":"dbb1ff5b.0f6a3","type":"switch","z":"1d85944f.ac551c","name":"Si pas MENU","property":"CROQUETTES_MENU","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":320,"y":260,"wires":[["dd5be6aa.3fd2a8"]]},{"id":"2b7d7181.b9aabe","type":"switch","z":"1d85944f.ac551c","name":"MENU?","property":"CROQUETTES_MENU","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":380,"y":620,"wires":[["67f0c8ab.734058"],["6c2138c4.38f4c8"]]},{"id":"67f0c8ab.734058","type":"switch","z":"1d85944f.ac551c","name":"Des Ronds","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"64","vt":"num"},{"t":"eq","v":"128","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":580,"wires":[["dd288f3f.75116"],["dd288f3f.75116"]]},{"id":"dd288f3f.75116","type":"change","z":"1d85944f.ac551c","name":"MENU ON","rules":[{"t":"set","p":"CROQUETTES_MENU","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"CROQUETTES_MENU_POS","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":580,"wires":[["1c374e05.713dc2","cb30e97e.97c6f8"]]},{"id":"f8ed0a2a.e44a28","type":"switch","z":"1d85944f.ac551c","name":"Si false","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":600,"y":480,"wires":[["93882ce7.e8ada"]]},{"id":"3322a7d2.b0efd8","type":"change","z":"1d85944f.ac551c","name":"MENU OFF","rules":[{"t":"set","p":"CROQUETTES_MENU","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[["dd5be6aa.3fd2a8"]]},{"id":"93882ce7.e8ada","type":"delay","z":"1d85944f.ac551c","name":"100 ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":480,"wires":[["3322a7d2.b0efd8"]]},{"id":"ae4279da.444638","type":"function","z":"1d85944f.ac551c","name":"ligne 1 : Curseur","func":"switch (context.global.CROQUETTES_MENU_POS){\n    case 0:\n        var text = \"..I.............\";\n    break;\n    case 1:\n        var text = \".......I........\";\n    break;\n    case 2:\n        var text = \"............I...\";\n}\nmsg.payload={\n    column:0, \n    row:0, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":660,"wires":[["3e76c6c5.78ecca"]]},{"id":"1c374e05.713dc2","type":"function","z":"1d85944f.ac551c","name":"Ligne 2 : \" -10  +20  +30  \"","func":"var text = \" -10  +20  +30  \";\n\nmsg.payload={\n    column:0, \n    row:1, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":560,"wires":[["3e76c6c5.78ecca"]]},{"id":"cb30e97e.97c6f8","type":"delay","z":"1d85944f.ac551c","name":"100 ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":620,"wires":[["ae4279da.444638"]]},{"id":"339a04a4.a98abc","type":"function","z":"1d85944f.ac551c","name":"MENU_POS -1","func":"if (context.global.CROQUETTES_MENU_POS>0){\n    context.global.CROQUETTES_MENU_POS = context.global.CROQUETTES_MENU_POS - 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":680,"wires":[["ae4279da.444638"]]},{"id":"3aa1412.f252abe","type":"function","z":"1d85944f.ac551c","name":"MENU_POS +1","func":"if (context.global.CROQUETTES_MENU_POS < 2){\n    context.global.CROQUETTES_MENU_POS = context.global.CROQUETTES_MENU_POS + 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":720,"wires":[["ae4279da.444638"]]},{"id":"8e09bf30.475fc","type":"change","z":"1d85944f.ac551c","name":"MENU OFF","rules":[{"t":"set","p":"CROQUETTES_MENU","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":740,"wires":[["dd5be6aa.3fd2a8"]]},{"id":"83cfe5e3.635828","type":"function","z":"1d85944f.ac551c","name":"ligne 1 : qté croq","func":"var text = msg.payload + \"gr de Croquet\";\nmsg.payload={\n    column:0, \n    row:0, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":760,"wires":[["3e76c6c5.78ecca"]]},{"id":"2d929ba9.f9fbd4","type":"function","z":"1d85944f.ac551c","name":"Ligne 2 : MIAOU","func":"var text = \"\";\nswitch (msg.payload){\n    case -10:\n        text = \"chat:PAS MIAOU !\" \n    break;\n    case 20:\n        text = \"chat : miaou !!\"\n    break;\n    case 30:\n        text = \"chat : MIAOU !!\"\n}\n\nmsg.payload={\n    column:0, \n    row:1, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":820,"wires":[["d32b9635.0d2aa8","3e76c6c5.78ecca"]]},{"id":"1f8dbb0f.491645","type":"delay","z":"1d85944f.ac551c","name":"100 ms","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":820,"wires":[["2d929ba9.f9fbd4"]]},{"id":"d32b9635.0d2aa8","type":"delay","z":"1d85944f.ac551c","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":820,"wires":[["8e09bf30.475fc"]]}]