cuisine/tuto/dashboard.json.txt
[{"id":"76bd9c44.894264","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9e6442d4.7ef68","type":"mqtt in","z":"420ad9f8.4489f8","name":"T-HOME/CUISINE/REFRIGERATEUR/temperature","topic":"T-HOME/CUISINE/REFRIGERATEUR/temperature","broker":"76bd9c44.894264","x":250,"y":269,"wires":[["37d016b0.f1b02a"]]},{"id":"37d016b0.f1b02a","type":"function","z":"420ad9f8.4489f8","name":"Mise en forme","func":"msg.payload = {\n  tstamp: new Date(),\n  data : parseFloat(msg.payload)\n  }\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":266,"wires":[["7516163.d3f5be8"]]},{"id":"7516163.d3f5be8","type":"iot-datasource","z":"420ad9f8.4489f8","name":"T-HOME/CUISINE/REFRIGERATEUR/temperature","tstampField":"date","dataField":"data","disableDiscover":false,"x":944,"y":260,"wires":[[]]},{"id":"86984b92.3c0aa8","type":"mqtt in","z":"420ad9f8.4489f8","name":"T-HOME/CUISINE/CONGELATEUR/temperature","topic":"T-HOME/CUISINE/CONGELATEUR/temperature","broker":"76bd9c44.894264","x":241,"y":360,"wires":[["d21ded14.0a4d"]]},{"id":"d21ded14.0a4d","type":"function","z":"420ad9f8.4489f8","name":"Mise en forme","func":"msg.payload = {\n  tstamp: new Date(),\n  data : parseFloat(msg.payload)\n  }\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":357,"wires":[["e476cb7b.500468"]]},{"id":"e476cb7b.500468","type":"iot-datasource","z":"420ad9f8.4489f8","name":"T-HOME/CUISINE/CONGELATEUR/temperature","tstampField":"date","dataField":"data","disableDiscover":false,"x":945,"y":351,"wires":[[]]},{"id":"cd403a3c.e9fb58","type":"mqtt in","z":"420ad9f8.4489f8","name":"T-HOME/CUISINE/temperature","topic":"T-HOME/CUISINE/temperature","broker":"76bd9c44.894264","x":193,"y":455,"wires":[["ac0f33f4.b152c"]]},{"id":"ac0f33f4.b152c","type":"function","z":"420ad9f8.4489f8","name":"Mise en forme","func":"msg.payload = {\n  tstamp: new Date(),\n  data : parseFloat(msg.payload)\n  }\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":452,"wires":[["7f6fa0c4.8ef44"]]},{"id":"7f6fa0c4.8ef44","type":"iot-datasource","z":"420ad9f8.4489f8","name":"T-HOME/CUISINE/temperature","tstampField":"date","dataField":"data","disableDiscover":false,"x":887,"y":446,"wires":[[]]}]