cuisine/tuto/tuto.json.txt
[{"id":"45864601.ba79b8","type":"MySQLdatabase","z":"","host":"192.168.10.10","port":"3306","db":"tempeDB","tz":""},
{"id":"76bd9c44.894264","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},
{"id":"21d08cf6.783864","type":"mqtt in","z":"8cbfa70d.20d378","name":"MQTT : T-HOME","topic":"T-HOME/TUTO/#","broker":"76bd9c44.894264","x":93,"y":87,"wires":[["14388a98.b92235"]]},
{"id":"14388a98.b92235","type":"switch","z":"8cbfa70d.20d378","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"T-HOME/CUISINE/REFRIGERATEUR/temperature","vt":"str"},
{"t":"eq","v":"T-HOME/CUISINE/temperature","vt":"str"},
{"t":"eq","v":"T-HOME/CUISINE/CONGELATEUR/temperature","vt":"str"}],"checkall":"false","outputs":3,"x":94,"y":266.5,"wires":[["1955d65b.0e4bea"],["e8236465.7f79c8"],["38587549.a1938a"]]},
{"id":"1955d65b.0e4bea","type":"change","z":"8cbfa70d.20d378","name":"frigo","rules":[{"t":"set","p":"topic","to":"frigo"}],"action":"","property":"","from":"","to":"","reg":false,"x":251,"y":217,"wires":[["910fc67d.117e48"]]},
{"id":"38587549.a1938a","type":"change","z":"8cbfa70d.20d378","name":"congelateur","rules":[{"t":"set","p":"topic","to":"congelateur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":317,"wires":[["910fc67d.117e48","669e742b.15a45c"]]},
{"id":"e8236465.7f79c8","type":"change","z":"8cbfa70d.20d378","name":"cuisine","rules":[{"t":"set","p":"topic","to":"cuisine"}],"action":"","property":"","from":"","to":"","reg":false,"x":257,"y":267,"wires":[["910fc67d.117e48"]]},
{"id":"ecc4c262.45d94","type":"mysql","z":"8cbfa70d.20d378","mydb":"45864601.ba79b8","name":"","x":656,"y":195,"wires":[["b03f4673.2ceec8"]]},
{"id":"a0fb5062.56e58","type":"function","z":"8cbfa70d.20d378","name":"SQL","func":"sql = \"INSERT INTO mesures (capteur, date, temperature) \"\nsql += \"VALUES (\"\nsql += \"'\" + msg.topic + \"', \"\nsql += \"'\" + msg.date + \"',\"\nsql += msg.payload + \")\"\nreturn {topic:sql};\n","outputs":1,"noerr":0,"x":781,"y":81,"wires":[["ecc4c262.45d94"]]},
{"id":"c6740f41.38b47","type":"moment","z":"8cbfa70d.20d378","name":"Format Date","topic":"","input":"date","format":"YYYY-MM-DD HH:mm:ss","output":"date","x":631,"y":81,"wires":[["a0fb5062.56e58"]]},
{"id":"fc901414.f992a8","type":"debug","z":"8cbfa70d.20d378","name":"Erreur","active":true,"console":"false","complete":"true","x":976,"y":202,"wires":[]},
{"id":"910fc67d.117e48","type":"function","z":"8cbfa70d.20d378","name":"Ajout date","func":"msg.date = new Date()\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":81,"wires":[["c6740f41.38b47"]]},
{"id":"b03f4673.2ceec8","type":"switch","z":"8cbfa70d.20d378","name":"Ok? / Not Ok","property":"payload.affectedRows","rules":[{"t":"eq","v":"1"},
{"t":"neq","v":"1"}],"checkall":"false","outputs":2,"x":820,"y":195,"wires":[[],["fc901414.f992a8"]]},{"id":"669e742b.15a45c","type":"switch","z":"8cbfa70d.20d378","name":"temp>-15","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"-15","vt":"num"}],"checkall":"true","outputs":1,"x":471,"y":467,"wires":[["b9efe70b.2e01b8","cc441190.12b26","3873e20.ee3f01e"]]},
{"id":"f2783630.fefd38","type":"mqtt out","z":"8cbfa70d.20d378","name":"T-HOME/CUISINE/BUZZER","topic":"T-HOME/CUISINE/BUZZER","qos":"1","retain":"true","broker":"76bd9c44.894264","x":1058,"y":416,"wires":[]},
{"id":"b9efe70b.2e01b8","type":"change","z":"8cbfa70d.20d378","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":811,"y":441,"wires":[["f2783630.fefd38"]]},
{"id":"df91d95c.9c7038","type":"change","z":"8cbfa70d.20d378","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":808,"y":398,"wires":[["f2783630.fefd38"]]},
{"id":"dc30b563.8690c8","type":"mqtt out","z":"8cbfa70d.20d378","name":"","topic":"T-HOME/CUISINE/CONGELATEUR/temperature_","qos":"0","retain":"false","broker":"76bd9c44.894264","x":1264,"y":291,"wires":[]},
{"id":"cc441190.12b26","type":"delay","z":"8cbfa70d.20d378","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":653,"y":341,"wires":[["df91d95c.9c7038","cd3a0360.879d6"]]},
{"id":"9fdfe229.23627","type":"change","z":"8cbfa70d.20d378","name":"SENDIT","rules":[{"t":"set","p":"payload","to":"SENDIT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":978,"y":291,"wires":[["dc30b563.8690c8"]]},
{"id":"cd3a0360.879d6","type":"delay","z":"8cbfa70d.20d378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":823,"y":292,"wires":[["9fdfe229.23627"]]},
{"id":"3873e20.ee3f01e","type":"trigger","z":"8cbfa70d.20d378","op1":"Alerte, la température du congélateur est passée en dessous de -15°C.","op2":"Ok, la température du congélateur est maintenant rétablie en dessous de -15°C","op1type":"val","op2type":"val","duration":"2","extend":true,"units":"min","reset":"","name":"","x":665,"y":545,"wires":[["934086f7.676e28"]]},
{"id":"865d0786.bb73f8","type":"e-mail","z":"8cbfa70d.20d378","server":"smtp.gmail.com","port":"465","name":"fredthx@gmail.com","dname":"","x":1028,"y":546,"wires":[]},
{"id":"934086f7.676e28","type":"change","z":"8cbfa70d.20d378","name":"Set Sujet","rules":[{"t":"set","p":"topic","pt":"msg","to":"Alerte congélateur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":833,"y":545,"wires":[["865d0786.bb73f8"]]}]