croquettes/croquettes.node-red.old
[{"id":"b99316cb.7a9398","type":"squeezebox-server","z":"","host":"http://192.168.10.10","port":"9002","name":"Logitech Media Server NAS"},{"id":"30b70dbc.093a62","type":"subflow","name":"AntiRebond","info":"Empêche de faire passer la même valeur dans la même seconde","in":[{"x":50,"y":30,"wires":[{"id":"69316651.6a5cb8"}]}],"out":[{"x":990,"y":134,"wires":[{"id":"9b40764b.508eb8","port":1}]}]},{"id":"e3fe735c.ba99f","type":"rbe","z":"30b70dbc.093a62","name":"","func":"rbe","gap":"","start":"","inout":"out","x":732,"y":167,"wires":[["9b40764b.508eb8"]]},{"id":"6bba76ed.af8178","type":"delay","z":"30b70dbc.093a62","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":352,"y":59,"wires":[["e9abd456.729f28"]]},{"id":"e9abd456.729f28","type":"function","z":"30b70dbc.093a62","name":"msg.payload=0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":60,"wires":[["e3fe735c.ba99f"]]},{"id":"69316651.6a5cb8","type":"function","z":"30b70dbc.093a62","name":"msg","func":"return msg;","outputs":1,"noerr":0,"x":219,"y":165,"wires":[["6bba76ed.af8178","e3fe735c.ba99f"]]},{"id":"9b40764b.508eb8","type":"switch","z":"30b70dbc.093a62","name":"==0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":870,"y":168,"wires":[[],[]]},{"id":"45864601.ba79b8","type":"MySQLdatabase","z":"","host":"192.168.10.10","port":"3306","db":"tempeDB","tz":""},{"id":"da884b6.971c0b8","type":"subflow","name":"Send_tempeDB","info":"Envoie a la BDD tempeDB\navec\n- msg.topic : capteur\n- msg.payload : valeur","in":[{"x":36.5,"y":171,"wires":[{"id":"7d5f8ebe.82a07"}]}],"out":[{"x":819,"y":252,"wires":[{"id":"b9d9b9b3.462648","port":0}]}]},{"id":"b9d9b9b3.462648","type":"mysql","z":"da884b6.971c0b8","mydb":"45864601.ba79b8","name":"","x":687,"y":174,"wires":[["ca5c4855.35a3b8"]]},{"id":"caede0bf.35122","type":"function","z":"da884b6.971c0b8","name":"SQL","func":"sql = \"INSERT INTO mesures (capteur, date, temperature) \"\nsql += \"VALUES (\"\nsql += \"'\" + msg.topic + \"', \"\nsql += \"'\" + msg.date + \"',\"\nsql += msg.payload + \")\"\nreturn {topic:sql};\n","outputs":1,"noerr":0,"x":542,"y":174,"wires":[["b9d9b9b3.462648"]]},{"id":"5d150073.a2eb","type":"moment","z":"da884b6.971c0b8","name":"","topic":"","input":"date","format":"YYYY-MM-DD HH:mm:ss","output":"date","x":366,"y":174,"wires":[["caede0bf.35122"]]},{"id":"4066d76f.bf9928","type":"debug","z":"da884b6.971c0b8","name":"Erreur","active":true,"console":"false","complete":"true","x":999,"y":210,"wires":[]},{"id":"7d5f8ebe.82a07","type":"function","z":"da884b6.971c0b8","name":"Ajout date","func":"msg.date = new Date()\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":174,"wires":[["5d150073.a2eb"]]},{"id":"ca5c4855.35a3b8","type":"switch","z":"da884b6.971c0b8","name":"Ok? / Not Ok","property":"payload.affectedRows","rules":[{"t":"eq","v":"1"},{"t":"neq","v":"1"}],"checkall":"false","outputs":2,"x":847,"y":173,"wires":[[],["4066d76f.bf9928"]]},{"id":"e7bb91df.53507","type":"comment","z":"da884b6.971c0b8","name":"Send_tempeDB","info":"","x":157.5,"y":69,"wires":[]},{"id":"76bd9c44.894264","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3e76c6c5.78ecca","type":"mqtt out","z":"1d85944f.ac551c","name":"T-HOME/CROQ/DISPLAY","topic":"T-HOME/CROQ/DISPLAY","qos":"0","retain":"false","broker":"76bd9c44.894264","x":1400.3333740234375,"y":229.55557250976562,"wires":[]},{"id":"1e383606.6f55aa","type":"inject","z":"1d85944f.ac551c","name":"A minuit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"x":129.11111450195312,"y":48.888906478881836,"wires":[["3780014f.74fdfe","a6d2624f.69b35"]]},{"id":"eebd365c.af4b98","type":"function","z":"1d85944f.ac551c","name":"Init qty","func":"context.global.CROQUETTES = 0;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":117.77779388427734,"wires":[["dd5be6aa.3fd2a8"]]},{"id":"c90d59dc.6aa4b8","type":"function","z":"1d85944f.ac551c","name":"+20","func":"msg.payload = 20;\nreturn msg;","outputs":1,"noerr":0,"x":409.1111145019531,"y":507.0000305175781,"wires":[["24a7be82.e31052"]]},{"id":"b352f23d.88f35","type":"function","z":"1d85944f.ac551c","name":"+30","func":"msg.payload = 30;\nreturn msg;","outputs":1,"noerr":0,"x":405.1111145019531,"y":566.888916015625,"wires":[["24a7be82.e31052"]]},{"id":"2615b09e.acf2a","type":"function","z":"1d85944f.ac551c","name":"-10","func":"msg.payload = -10;\nreturn msg;","outputs":1,"noerr":0,"x":399.5555419921875,"y":620.1111450195312,"wires":[["24a7be82.e31052"]]},{"id":"919f2da2.b641e","type":"function","z":"1d85944f.ac551c","name":"Ligne 2","func":"var text = \"\"\nvar croquettes = context.global.CROQUETTES || 0;\nfor (var i = 1; i<17; i++){\n    if (i*5<=croquettes){\n        text += \"=\"\n    }\n    else{\n        text += \" \";\n    }\n}\nmsg.payload={\n    column:0, \n    row:1, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":1245.6666259765625,"y":503.3333740234375,"wires":[["3e76c6c5.78ecca"]]},{"id":"bc4d8992.3b3738","type":"mqtt in","z":"1d85944f.ac551c","name":"T-HOME/CROQ/INIT","topic":"T-HOME/CROQ/INIT","broker":"76bd9c44.894264","x":135.3333511352539,"y":263.1111297607422,"wires":[["dd5be6aa.3fd2a8","919f2da2.b641e","64a8aac6.8e3b74"]]},{"id":"dd5be6aa.3fd2a8","type":"function","z":"1d85944f.ac551c","name":"ligne 1","func":"msg.payload={clear:true,\n    column:0, \n    row:0, \n    text:\"...20..40..60...\"};\nreturn msg;","outputs":1,"noerr":0,"x":796.0000076293945,"y":171.22224521636963,"wires":[["3e76c6c5.78ecca"]]},{"id":"974b53a3.f99fd","type":"function","z":"1d85944f.ac551c","name":"Modif context.global.CROQUETTES","func":"context.global.CROQUETTES = context.global.CROQUETTES || 0;\ncontext.global.CROQUETTES = context.global.CROQUETTES + msg.payload;\nif (context.global.CROQUETTES<0){\n    context.global.CROQUETTES = 0;\n}\nmsg.payload = context.global.CROQUETTES;\nreturn msg;","outputs":1,"noerr":0,"x":831.4444580078125,"y":551,"wires":[["b80ec4b8.ff6b18"]]},{"id":"d1d5183c.81ee28","type":"e-mail","z":"1d85944f.ac551c","server":"smtp.gmail.com","port":"465","name":"merlin.thome@gmail.com","dname":"","x":1012.0000381469727,"y":47.8889045715332,"wires":[]},{"id":"3780014f.74fdfe","type":"delay","z":"1d85944f.ac551c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":372.8888931274414,"y":116.66668033599854,"wires":[["eebd365c.af4b98"]]},{"id":"82d8dc31.71222","type":"template","z":"1d85944f.ac551c","name":"Message stat.","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Merlin, aujourd'hui ton chat a mangé {{payload}} grammes de croquettes.","x":744.6666870117188,"y":47.777793884277344,"wires":[["d1d5183c.81ee28"]]},{"id":"a6d2624f.69b35","type":"change","z":"1d85944f.ac551c","name":"context.global.CROQUETTES","rules":[{"t":"set","p":"payload","pt":"msg","to":"CROQUETTES","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":446.77777099609375,"y":52.222235679626465,"wires":[["82d8dc31.71222"]]},{"id":"bad43d22.b3954","type":"subflow:da884b6.971c0b8","z":"1d85944f.ac551c","name":"","x":1017,"y":604.8888549804688,"wires":[[]]},{"id":"2904fe48.d87b02","type":"function","z":"1d85944f.ac551c","name":"croquettes","func":"msg.topic = \"croquettes\";\nreturn msg;","outputs":1,"noerr":0,"x":755.4444580078125,"y":603.3334350585938,"wires":[["bad43d22.b3954"]]},{"id":"24a7be82.e31052","type":"subflow:30b70dbc.093a62","z":"1d85944f.ac551c","name":"","x":572.2777709960938,"y":567.8333129882812,"wires":[["974b53a3.f99fd","2904fe48.d87b02","d0e03593.c81708"]]},{"id":"38184b57.58f2c4","type":"mqtt in","z":"1d85944f.ac551c","name":"T-HOME/CROQ/GESTE","topic":"T-HOME/CROQ/GESTE","broker":"76bd9c44.894264","x":139.22223663330078,"y":475.2222328186035,"wires":[["4ccd9dc9.8c8094","6c2138c4.38f4c8"]]},{"id":"6c2138c4.38f4c8","type":"switch","z":"1d85944f.ac551c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"64","vt":"num"},{"t":"eq","v":"128","vt":"num"},{"t":"eq","v":"256","vt":"num"}],"checkall":"true","outputs":3,"x":251.55557250976562,"y":569.77783203125,"wires":[["c90d59dc.6aa4b8"],["b352f23d.88f35"],["2615b09e.acf2a"]]},{"id":"4ccd9dc9.8c8094","type":"trigger","z":"1d85944f.ac551c","op1":"true","op2":"false","op1type":"num","op2type":"num","duration":"30","extend":true,"units":"s","reset":"","name":"","x":298.3333435058594,"y":409.00006103515625,"wires":[["d87d7b21.616df8"]]},{"id":"d87d7b21.616df8","type":"function","z":"1d85944f.ac551c","name":"led on_off","func":"msg.payload={led:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":454.111083984375,"y":407.22222900390625,"wires":[["3e76c6c5.78ecca"]]},{"id":"b80ec4b8.ff6b18","type":"delay","z":"1d85944f.ac551c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1074,"y":550,"wires":[["919f2da2.b641e"]]},{"id":"d0e03593.c81708","type":"function","z":"1d85944f.ac551c","name":"TEXT","func":"var txt = \"\";\nswitch (msg.payload){\n    case 20:\n        txt = \"MIAOU : 20g\"\n    break;\n    case 30:\n        txt = \"GROS MIAOU : 30g\"\n    break;\n    case -10:\n        txt = \"PAS MIAOU : -10g\"\n}\n\nmsg.payload={\n    column:0, \n    row:1, \n    text:txt};\nreturn msg;","outputs":1,"noerr":0,"x":732,"y":506,"wires":[["3e76c6c5.78ecca","64145d62.52c8b4"]]},{"id":"64a8aac6.8e3b74","type":"debug","z":"1d85944f.ac551c","name":"","active":true,"console":"false","complete":"false","x":541,"y":280,"wires":[]},{"id":"d6bbe89c.2d7558","type":"debug","z":"1d85944f.ac551c","name":"","active":true,"console":"false","complete":"true","x":1267,"y":668,"wires":[]},{"id":"ca2c80f2.00fac","type":"inject","z":"1d85944f.ac551c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":879,"y":692,"wires":[["26d366bb.efa07a"]]},{"id":"26d366bb.efa07a","type":"function","z":"1d85944f.ac551c","name":"Ligne 2","func":"var text = \"\"\nvar croquettes = context.global.CROQUETTES || 0;\nfor (var i = 1; i<17; i++){\n    if (i*5<=croquettes){\n        text += \"=\"\n    }\n    else{\n        text += \" \";\n    }\n}\nmsg.payload={\n    column:0, \n    row:1, \n    text:text};\nreturn msg;","outputs":1,"noerr":0,"x":1064,"y":669,"wires":[["d6bbe89c.2d7558"]]},{"id":"db32e1cb.17bff","type":"squeezebox-out","z":"1d85944f.ac551c","squeezebox_server":"b99316cb.7a9398","player_name":"CUISINE","command":"","x":1143,"y":444,"wires":[[]]},{"id":"64145d62.52c8b4","type":"function","z":"1d85944f.ac551c","name":"Le chat dit","func":"msg.payload = [\"display\",\"Le chat dit :\",msg.payload.text,15];\nreturn msg;","outputs":1,"noerr":0,"x":962,"y":501,"wires":[["db32e1cb.17bff"]]}]